body { 
  margin: 0;


.item1 {
  grid-area: header;
  background-color: #ce2a8270;
  padding: 20px;
  text-align: center;
  width: auto;
  height: auto
}

.item2 {
  grid-area: menu;
  background-color: #e53292ee;
  text-align: left;
  width: 200px;
  height: 570px
}

.item3 {
  grid-area: main;
  text-align: center;
  background-color: #ce2a8270;
  padding: 250px;
  /* Nå er boksene låst fast*/
  max-width: 150px;
  max-height: 20px;
}

.item4 {
  grid-area: right; 
  background-color: #ce2a8270;
  padding: 250px;
  text-align: center;
  width: 150px;
  height: 20px;
}

.item5 {
  grid-area: footer;
  background-color: #ce2a8270;
  padding: 20px;
  text-align: center;
  width: auto;
  height: auto
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 5px;
  background-color: #ce2a8200;
  padding: 5px;
}

/* Utsende på nettsiden, grid med forskjellige farger */


h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  /* Størrelsen på tekst(meny) */
}



a:hover {
  color: hotpink;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* mouse over link=pink */

@media screen and (max-width: 768px) {


  .item1 {
    grid-area: header;
    background-color: #ce2a8270;
    padding: 20px;
    text-align: center;
    width: auto;
    height: auto
  }

  .item2 {
    grid-area: menu;
    background-color: #e53292ee;
    text-align: left;
    width: 150px;
    height: 570px
  }

  .item3 {
    grid-area: main;
    background-color: #ce2a8270;
    padding: 250px;
    /* Nå er boksene låst fast*/
    text-align: center;
    width: 150px;
    height: 20px;
  }

  .item4 {
    grid-area: right;
    background-color: #ce2a8270;
    padding: 250px;
    text-align: center;
    width: 150px;
    height: 20px;
  }

  .item5 {
    grid-area: footer;
    background-color: #ce2a8270;
    padding: 20px;
    text-align: center;
    width: auto;
    height: auto
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    gap: 5px;
    background-color: #ce2a8200;
    padding: 5px;
  }
}

/* Meida slutt*/

}